h1 {
  font-size: 4rem;
}

hr {
  border: none;
  border-top: 10px dotted;
  color: #E4F9F5;
  width: 5%;
  margin: 100px auto;
}

table {
  width: 100%;
}

th {
  font-size: 2rem;
}

.top-page {
  background-color: #E4F9F5;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.full {
  height: 100vh;
  width: 100vw;
}

.cloud1 {
  position: absolute;
  top: 50px;
  right: 100px;
}

.cloud2 {
  position: absolute;
  left: 100px;
  bottom: 50px;
}

#textIntro {
  overflow: hidden;
}

#textName {
  display: inline-block;
  transform: translateY(250%);
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: 600;
  color: #2DCAAD;
}

#topText {

  top: 100px;
}

#textName1 {
  height: 100px;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  opacity: 0;

}

.arrows path {
  stroke: #A5EBDE;
  fill: transparent;
  stroke-width: 2px;
}


.mid-page {
  background-color: #A5EBDE;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#aboutMe {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: 600;
  color: #2DCAAD;
  padding-top: 5%;
}

#photo-div {
  padding-bottom: 20px;
}

#img-div {
  max-width: 400px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px -5px #696868;

}

#educationDiv {
  margin: 10% 0 10% 0;
}

.whatILove {
  text-align: center;
  background-color: #A5EBDE;
  text-align: center;
  padding: 100px 400px;

}

.whatILove h1 {
  text-align: center;
  margin-bottom: 8%;

}

.whatILoveContent {
  margin-bottom: 4%;
}

#oneWheel {

  text-align: right;
  height: auto;
}

#oneWheelP {
  padding-top: 10%;
  width: 50%;
  text-align: left;
}

#food {

  text-align: left;
  height: auto;
}

#foodP {
  padding-top: 10%;
  margin-left: 50%;
  text-align: right;

}

#travel {
  text-align: right;
  height: auto;
}

#travelP {
  padding-top: 10%;
  width: 50%;
  text-align: left;

}

.travel {
  font-family: Garamond;
  font-size: 20px;
}

.travel img {
  width: 150px;
  height: auto;

}

.bottom-page {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.bottom-page .jumbotron {
  background: rgba(204, 204, 204, 0.91);
  height: auto;
}