#bodyContainer {
  display: table;
  height: 20%;
  width: 100%;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

hr {
  border: none;
  border-top: 10px dotted;
  color: #E4F9F5;
  width: 5%;
  margin: 100px auto;
}

table {
  width: 100%;
}

th {
  font-size: 2rem;
}

.top-page {
  background-color: #E4F9F5;
  position: relative;
  padding: 300px 400px;
  text-align: center;
}

.top-page .cloud1 {
  position: absolute;
  top: 50px;
  right: 300px;
}

.top-page .cloud2 {
  position: absolute;
  left: 200px;
  bottom: 270px;

}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#textIntro {
  overflow: hidden;
}

#textName {
  display: inline-block;
  transform: translateY(110%);
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: 600;
  color: #2DCAAD
}

#textName1 {
  height: 100px;
}


.mid-page {
  background-color: #A5EBDE;
  text-align: center;
  padding: 100px 400px;
}

.mid-page h1 {
  padding-bottom: 20px;

}

#photo-div {
  padding-bottom: 20px;
}

#img-div {
  width: 200px;
  height: auto;

}

#educationDiv {
  margin: 10% 0 10% 0;
}

.whatILove {
  text-align: center;
  background-color: #A5EBDE;
  text-align: center;
  padding: 100px 400px;

}

.whatILove h1 {
  text-align: center;
  margin-bottom: 8%;

}

.whatILoveContent {
  margin-bottom: 4%;
}

#oneWheel {

  text-align: right;
  height: auto;
}

#oneWheelP {
  padding-top: 10%;
  width: 50%;
  text-align: left;
}

#food {

  text-align: left;
  height: auto;
}

#foodP {
  padding-top: 10%;
  margin-left: 50%;
  text-align: right;

}

#travel {
  text-align: right;
  height: auto;
}

#travelP {
  padding-top: 10%;
  width: 50%;
  text-align: left;

}

.travel {
  font-family: Garamond;
  font-size: 20px;
}

.travel img {
  width: 150px;
  height: auto;

}

.bottom-page {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.bottom-page .jumbotron {
  background: rgba(204, 204, 204, 0.91);
  height: auto;
}