body {
  background-size: 100% 100%;
}

hr {
  border: none;
  border-top: 10px dotted;
  color: #E4F9F5;
  width: 5%;
  margin: 100px auto;
}

.top-page {
  background-color: #E4F9F5;
  position: relative;
  padding: 300px 400px;
  text-align: center;
}

.top-page .cloud1{
  position: absolute;
  top: 50px;
  left: 0px;
  animation-name: clouds;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.top-page .cloud2{
  position: absolute;
  top: 600px;
  right: 50px;
  animation-name: clouds2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes clouds{
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(2050px);
  }
}

@keyframes clouds2{
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-2050px);
  }
}

.top-page h2{
  padding-top: 50px;
  animation: 3s slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.mid-page {
  background-color: #A5EBDE;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.mid-page h1 {
  padding-bottom: 20px;
  text-align: center;
}

.about-me-and-image {
  text-align: center;
}

.about-me-and-image h1 {
  padding-bottom: 50px;
}

.me-and-dog {
  padding-bottom: 20px;
}

.me-and-dog img {
  width: 200px;
  height: auto;

}

.education {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 200px;
  ;

}

.education h1 {
  margin: auto;
  padding-left: 175px;
  padding-bottom: 100px;
  text-align: center;

}

.college {
  display: inline-block;

}

.college ol {
  text-align: left;
}

.certificates {

  float: right;
  padding-right: 10%;
}

.certificates ul {
  text-align: left;
}

.onewheel {
  margin: 100px auto;
  width: 50%;
  text-align: center;

  padding-bottom: 50px;
}

.onewheel img {
  width: 150px;
  height: auto;
}

.onewheel p {
  float: left;
}

.food {
  padding-bottom: 50px;
}

.food img {
  width: 150px;
  height: auto;

}

.travel img {
  width: 150px;
  height: auto;

}

.bottom-page {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}



.bottom-page .jumbotron {
  background: rgba(204, 204, 204, 0.91);
  height: auto;
}
